:root {
    --header-height: 3rem; /*altura do header*/

/*=============== z index ===============*/
    --z-fixed: 100;
}



/*=============== header ===============*/
.header{
    width: 100%; /*largura do header para preencher toda a tela*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #ffffff; /*cor do header*/
}

/*=============== nav ===============*/
.nav{
    height: var(--header-height); /*aplicar altura do header*/
    display: flex;
    justify-content: space-between; /*reposicionar elementos cada um na sua extremidade*/
    align-items: center;
}

.nav__menu{
    position: relative;
}

@media screen and (max-width: 767px){
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
    }
}